{% extends "camera.html" %}

{% block heading %}Login{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m6 offset-m3">
            <form action="/login/" method="POST">
                <div class="row">
                    <div class="col s12 input-field">
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 input-field">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">password</label>
                    </div>
                </div>
                <input class="btn btn-primary btn-submit" type="submit" value="Login">
            </form>

            {% if error %}
                <div class="row">
                    <div class="col s12">
                        <div class="card-panel red lighten-2" style="color:white">{{ error }}</div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}